/* megadrop css */

#visual-portal-wrapper {
/* width: 60em; */
width:960px;
margin: 0 auto; }

#portal-globalnav ul li a {
    background-color: #205C90;
    color: white;
    line-height: 1.5em;
    padding: 5px 10px;
    border: none;
}

.mdtab {}

.megahide {
display: none;
}

.megadrop {
float: left;
position: absolute;
/* width:73.3em; */
width:938px;
clear:both;
background-color: #205C90;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
padding: 10px 0;
}

.globalNav_lvl2 {
padding-left: .5em;
}

.megadiv1 {
float:left;
width:25%;
}

.megadiv2 {
float:left;
width:25%;
}

.megadiv3 {
float:left;
width:25%;
}

.megadiv4 {
float:left;
width:25%;
}

#portal-globalnav h2 {
font-size: 90%;
display: inline;
}

#portal-globalnav h3 {
font-size: 90%;
display: inline;
}

.globalNav_ul {
display: block;
}

#portal-globalnav ul li {
display: block;
}

.globalNav_ul a {
position: relative;
left: 10px;
}

#portal-globalnav li #managetab a {
background-color: transparent;
float: right;
color: white;
border-right: none;
display: inline-block;
min-width: None;
padding: 0.5em 0.5em;
white-space: normal;
}

/*******************
* megadrop positioning
*******************/

#portal-globalnav {
    height: 46px;
}

#portal-columns {
position: ;
}

/*******************
* tiles css
*******************/
.tile-editable {
    position: relative;
    outline: 2px dashed #e8e8e8;
    min-height: 1.5em;
}

.tile-editable:hover {
    outline: 2px dashed #b8b8b8;
}

.tile-edit-link {
    display: none !important;
    position: absolute;
    right: 1px;
    bottom: 1px;
    z-index: 500;
}

.tile-editable:hover .tile-edit-link {
    display: block !important;
}

#megaCustomTile {
background-color: White;
}