/* megadrop css */


#portal-globalnav ul li a {
    background-color: #205C90;
    color: white;
    line-height: 1.5em;
    padding: 5px 10px;
    border: none;

}

.mdtab {}

.megahide {
display: none;
}

.megadrop {
float: left;
position: absolute;
width:960px;
clear:both;
}

.megadiv1 {
float:left;
}

.megadiv2 {
float:left;
}

.megadiv3 {
float:left;
}

.megadiv4 {
float:left;
}


#portal-globalnav ul {
clear: both;
background-color: #205C90;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
padding: 10px 0;
}

#portal-globalnav h2 {
font-size: 90%;
display: inline;
}

#portal-globalnav h3 {
font-size: 90%;
display: inline;
}

.globalNav_ul {
display: block;
}

#portal-globalnav ul li {
display: block;
}

.globalNav_ul a {
position: relative;
left: 10px;
}


/*******************
* megadrop positioning
*******************/

#portal-globalnav {
    height: 46px;
}

#portal-columns {
position: ;
}
